
.productsheader {


    font-size: 3em;
        font-weight:100;
align-items: center;
   font-style: normal;
padding-top: 70px;
margin-bottom: 75px;
        padding-left: 10vw;
            padding-right: 10vw;
}

html::-webkit-scrollbar {
    width: 0 !important;
}
.popupbtn:hover .mainproductsframe {
    background: transparent;
    opacity: 0.8;
}
.popupbtncart:hover ~ .bag {
        display: grid;
}
/*
html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  
}
*/
