
select {
   width: 47px;
   border: none;
overflow: hidden;

}
option {
  border: none;  
  background-color:white;
  
  color: black;
  
  
}

 option:hover {
  color: #000!important;
  background-color: #e0e0e0!important;
}