
 a {
  float: left;

  color: white;
  text-align: center;
 
  text-decoration: none;
}

.dropdown {
    overflow: hidden;
        font-size: 26px;
margin-right: 100px;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 26px;
  border: none;
  outline: none;

 min-width: 65px;
  background-color: inherit;

  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 30px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(240, 238, 238); 

}

.dropdown:hover .dropdown-content {
  display: block;
  
  
}
.dropdown:hover img {
transform: rotate(180deg);
}